/* .nav{
    text-decoration: none;
    color: blanchedalmond;
    padding-right: 10px;
}
.nav:hover{
    background-color: white;
    color: black;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
} */